{% extends "base.html.twig" %}

{% block body %}
    {# jumbotron #}
    <div class="jumbotron" style="margin-top:-20px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1>Gothiclist</h1>
                    <p>The gothic musical repertoire</p>
                    <p>Industrial, EBM, New Wave, Darkwave, Goth Rock, Gothic Metal, Synthwave, Synth-pop</p>
                </div>
            </div>
        </div>
    </div>

    {# Last songs #}
    <div class="panel panel-default">
        <div class="panel-heading">Last songs</div>
        <div class="panel-body">
            <div class="panel-group">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Artist</th>
                            <th scope="col">Album</th>
                            <th scope="col">By</th>
                            <th scope="col">Votes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for song in last_songs %}
                            <tr>
                                <td>{{ song.title }}</td>
                                <td>{{ song.artist.name }}</td>
                                <td>{{ song.release.title }}</td>
                                <td>
                                    {% if song.hasUser %}
                                    <a class="pull-left" href="{{
                                        path('user_public_page', {'id': song.user.id, 'nickname': song.user.nicknameCanonical})
                                    }}">
                                        <img class="media-object img-circle" src="{{ song.user.avatarUrl }}">
                                        {{ song.user.nickname }}
                                    </a>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td scope="col">
                                    {%  include 'parts/vote.html.twig' with {
                                        'id': song.id,
                                        'type': 'song',
                                        'user': app.user
                                    } only %}
                                    <span class="nbVotes">{{ song.nbVotes }}</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {# Top rated songs #}
    <div class="panel panel-default">
        <div class="panel-heading">Most voted songs</div>
        <div class="panel-body">
            <div class="panel-group">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Album</th>
                        <th scope="col">Votes</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for song in last_songs %}
                        <tr>
                            <td>{{ song.title }}</td>
                            <td>{{ song.artist.name }}</td>
                            <td>{{ song.release.title }}</td>
                            {# <td>{{ song.votes }}</td> #}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
