{% extends "base.html.twig" %}

{% block title %}Songs of {{ artist.name }}{% endblock %}
{% block description %}The best songs of {{ artist.name }}{% endblock %}

{% block scripts_head %}
    {{ parent() }}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "MusicGroup",
      "name": "{{ artist.name }}",
      {{ (artist.photoUrl) ? '"image": ["{{ photo.url }}"],' : '' }}
      {# "interactionStatistic": {
        "@type": "InteractionCounter",
        "interactionType": "http://schema.org/CommentAction",
        "userInteractionCount": "0"
      }, #}
      "track": [
      {% for song in last_songs if song.spotifyId %}
          {
            "@type": "MusicRecording",
            "name": "{{ song.title }}",
            "audio": "https://embed.spotify.com/?uri=spotify:track:{{ song.spotifyId }}",
            {# "duration": "PT4M5S",
            "inAlbum": "foo-fighters-wasting-light.html",
            "interactionStatistic": {
              "@type": "InteractionCounter",
              "interactionType": "http://schema.org/ListenAction",
              "userInteractionCount": "14300"
            },
            "url": "foo-fighters-rope.html" #}
          }
      {% endfor %}
      ]
    }
    </script>
{% endblock %}

{% block body %}
    <div class="artist mb-lg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1>{{ artist.name }}</h1>
                </div>
            </div>

            {% if is_granted('ROLE_USER') %}
                <a class="btn edit" href="#" onclick=""><i class="fa fa-pencil"></i></a>
            {% endif %}

            <div id="artist_description">
                <div class="col-lg-6">
                    {{ artist.description|raw }}
                </div>
                <div class="col-lg-2">
                    {% if artist.photoUrl %}
                        <img src="{{ artist.photoUrl }}" class="img-artist" alt="{{ artist.name }}" />
                    {% endif %}
                </div>
            </div>

            {% if is_granted('ROLE_USER') %}
                <form method="post"
                      action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"
                      id="artist_description_form"
                      class="form_artist hidden">
                    <input type="text" name="photo_url" class="form-control m-b" placeholder="Photo URL" value="{{ artist.photoUrl }}">
                    <textarea name="description" id="artist_description_text" class="form-control" rows="13">{{ artist.description|raw }}</textarea>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            {% endif %}
        </div>
    </div>

    {% include 'parts/table_songs.html.twig' with {'songs': last_songs, 'title': 'Best songs' } only %}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="/js/ckeditor/ckeditor.js"></script>
{% endblock %}