{% extends "base.html.twig" %}

{% block title %}{{ artist.name }} songs{% endblock %}
{% block description %}The best songs of {{ artist.name }}{% endblock %}

{% block scripts_head %}
    {{ parent() }}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "MusicGroup",
      "name": "{{ artist.name }}",
      {{ (artist.photoUrl) ? '"image": ["{{ photo.url }}"],' : '' }}
      "interactionStatistic": {
        "@type": "InteractionCounter",
        "interactionType": "http://schema.org/CommentAction",
        "userInteractionCount": "0"
      },
      "track": [{
        "@type": "MusicRecording",
        "audio": "foo-fighters-rope-play.html",
        "duration": "PT4M5S",
        "inAlbum": "foo-fighters-wasting-light.html",
        "interactionStatistic": {
          "@type": "InteractionCounter",
          "interactionType": "http://schema.org/ListenAction",
          "userInteractionCount": "14300"
        },
        "name": "Rope",
        "offers": "foo-fighters-rope-buy.html",
        "url": "foo-fighters-rope.html"
      }, {
        "@type": "MusicRecording",
        "audio": "foo-fighters-everlong-play.html",
        "duration": "PT6M33S",
        "inAlbum": "foo-fighters-color-and-shape.html",
        "name": "Everlong",
        "interactionStatistic": {
          "@type": "InteractionCounter",
          "interactionType": "http://schema.org/ListenAction",
          "userInteractionCount": "11700"
        },
        "offers": "foo-fighters-everlong-buy.html",
        "url": "foo-fighters-everlong.html"
      }],
      "video": {
        "@type": "VideoObject",
        "description": "Catch this exclusive interview with Dave Grohl and the Foo Fighters about their new album, Rope.",
        "duration": "T1M33S",
        "name": "Interview with the Foo Fighters",
        "thumbnail": "foo-fighters-interview-thumb.jpg",
        "embedUrl": "https://www.youtube.com/embed/4ZQ6UxEzpB8"
      }
    }
    </script>
{% endblock %}

{% block body %}
    <div class="artist mb-lg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1>{{ artist.name }}</h1>
                </div>
            </div>

            {% if is_granted('ROLE_USER') %}
                <a class="btn edit" href="#" onclick=""><i class="fa fa-pencil"></i></a>
            {% endif %}

            <div id="artist_description">{{ artist.description|raw }}</div>

            {% if is_granted('ROLE_USER') %}
                <form method="post" class="form_artist" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
                    <textarea name="description" class="form-control" style="display:none;" id="artist_description_editor" rows="13">{{ artist.description|raw }}</textarea>
                    <button style="display:none;" type="submit" class="btn btn-primary">Save</button>
                </form>
            {% endif %}
        </div>
    </div>

    {% include 'parts/table_songs.html.twig' with {'songs': last_songs, 'title': 'Best songs' } only %}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="/js/ckeditor/ckeditor.js"></script>
{% endblock %}