{% extends "base.html.twig" %}

{% block title %}All artists on gothiclist{% endblock %}
{% block description %}
    List of all gothic artists listed on gothiclist.com.
    Currently {artists.length} are present but feel free to add more by creating an account.
{% endblock %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">All artists</div>
    <div class="panel-body">
        <div class="panel-group">
            <table class="table table-dark table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Styles</th>
                    <th scope="col">Website</th>
                </tr>
                </thead>
                <tbody>
                {% for artist in artists %}
                    <tr>
                        <td>
                            <a href="{{ path('artist_home', {'id': artist.id, 'slug': artist.name|slugify}) }}">
                                {{ artist.name }}
                            </a>
                        </td>
                        <td>
                            {% for style in artist.styles %}
                                <a href="{{ path('style_home', {'idStyle': style.id, 'slug': style.name|slugify}) }}">
                                    {{ style.name }}
                                </a>
                                {{ (loop.last) ? '' : ' / ' }}
                            {% endfor %}
                        </td>
                        <td> - </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}