<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Site{% endblock %}</title>

        {% block meta %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        {% block css %}
            {% if app.request.server.get('HTTP_HOST') starts with 'www' %}
                <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700" rel="stylesheet">
            {% endif %}
            <link rel="stylesheet" href="{{ asset('css/theme.css') }}" media="screen">
            <link rel="stylesheet" href="{{ asset('css/gothiclist.css') }}">
            <link rel="stylesheet" href="{{ asset('css/font-awesome-4.7.0.min.css') }}">
        {% endblock %}
    </head>

    <body>
        <div id="wrap">
            {% include 'parts/navbar.html.twig' %}
            {# flash messages #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    {# danger, success or warning #}
                    <div class="col-lg-6 col-md-offset-3 alert alert-{{ label }}">
                        {{ message|raw }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="container">{% block body %}{% endblock %}</div>
        </div>

        {% include 'parts/modal.html.twig' %}

        {% block js %}
            <script src="{{ asset('jquery-ui-1.12.1.ui-darkness/external/jquery/jquery.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
            <script src="{{ asset('js/youtube.iframe.api.js') }}"></script>
        {% endblock %}

        <div id="footer">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('misc_contact') }}">Contact</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>