{% extends "base.html.twig" %}

{% block title %}Contact us{% endblock %}
{% block description %}Feel free to contact us by filling this form{% endblock %}

{% block body %}
<div class="col-lg-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">Contact us</div>
        <div class="panel-body">
            <form action="{{ path('misc_contact') }}" method="post">
                <fieldset>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" name="email" value="{{ app.request.get("email") ? : app.user.email }}" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input type="text" name="name" value="{{ app.request.get("name") ? : app.user.name }}" class="form-control" id="inputName" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="inputFirstname">Firstname</label>
                        <input type="text" name="firstname" value="{{ app.request.get("firstname") ? : app.user.firstname }}" class="form-control" id="inputFirstname" placeholder="Firstname">
                    </div>
                    <div class="form-group">
                        <label for="inputText">Text</label>
                        <textarea name="text" class="form-control" id="inputText" placeholder="Text">{{ app.request.get("text") }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}