{% extends "base.html.twig" %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-tagsinput.css') }}" media="screen">
{% endblock %}

{% block body %}


<div class="panel panel-default">
    <div class="panel-heading">Last added</div>
    <div class="panel-body">
        <div class="panel-group">
            {% include 'parts/table_songs_admin.html.twig' with {'songs': last_songs, 'title': 'Last songs'} only %}
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('js/typeahead.bundle.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-tagsinput.min.js') }}"></script>
    <script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}