<nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">GothicList.com</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Top rated <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Songs</a></li>
                        <li><a href="#">Artists</a></li>
                        <li><a href="#">by Types</a></li>
                    </ul>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('song_add') }}">Add song</a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin_home') }}">Administration</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_USER') %}
                    <div class="btn-group">
                        <a href="{{ path('user_public_page', {'id': app.user.id, 'nickname': app.user.nickname}) }}" class="btn btn-danger navbar-btn btn-sm">
                            {{ app.user.nickname }}
                        </a>
                        <button class="btn dropdown-toggle navbar-btn btn-danger btn-sm" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="min-width:30px;">
                            <li>
                                <a href="{{ path('user_public_page', {'id': app.user.id, 'nickname': app.user.nickname}) }}">
                                    My public profile
                                </a>
                            </li>
                            <li><a href="{{ path('user_private_account', {'id': app.user.id}) }}">My account</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        </ul>
                    </div>
                {% else %}
                    <div class="btn-group">
                        <button class="btn btn-danger navbar-btn btn-sm">Sign up</button>
                        <button class="btn dropdown-toggle navbar-btn btn-danger btn-sm" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="min-width:30px;">
                            <li><a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}">Facebook</a></li>
                            <li><a href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter' }) }}">Twitter</a></li>
                            <li><a href="{{ path('hwi_oauth_service_redirect', {'service': 'vkontakte' }) }}">Vkontakte</a></li>
                        </ul>
                    </div>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
