
<div class="panel panel-default">
    <div class="panel-heading">{{ title }}</div>
    <div class="panel-body">
        <div class="panel-group">
            <table class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        {% if app.request.get('_route') != 'artist_home' %}
                        <th scope="col">Artist</th>
                        {% endif %}
                        <th></th>
                        <th scope="col" class="hidden-xs">Album</th>
                        <th scope="col">Album's styles</th>
                        <th scope="col" class="hidden-xs">By</th>
                        <th scope="col" class="hidden-xs">Votes</th>
                        <th scope="col">Listen</th>
                    </tr>
                </thead>
                <tbody>
                {% for song in songs %}
                    <tr>
                        <td>
                            <a href="{{ path('song_home', {'id': song.id, 'slug': song.title|slugify}) }}">
                                {{ song.title }}
                            </a>
                        </td>
                        {% if app.request.get('_route') != 'artist_home' %}
                        <td><a href="{{ path('artist_home', {'id': song.artist.id, 'slug': song.artist.name|slugify}) }}">{{ song.artist.name }}</a></td>
                        {% endif %}
                        <td>
                            <img class="country_flag"
                                 src="{{ asset('img/flags/4x3/' ~ countries[song.release.country] ~ '.svg') }}"
                                 alt="{{ song.release.country }}" />
                        </td>
                        <td class="hidden-xs">
                            {{ song.release.title }}
                        </td>
                        <td>
                            {% for style in song.release.styles %}
                                {% if style.id == app.request.get('idStyle') %}
                                    <span class="text-muted">{{ style.name }}</span>
                                {% else %}
                                    <a href="{{ path('style_home', {'idStyle': style.id, 'slug': style.name|slugify}) }}">
                                        {{ style.name }}
                                    </a>
                                {% endif %}
                                {{ (loop.last) ? '' : ' / ' }}
                            {% endfor %}
                        </td>
                        <td class="hidden-xs">{% include 'parts/avatar.html.twig' with { 'user': song.user } only %}</td>
                        <td class="hidden-xs">
                            {% include 'parts/vote.html.twig' with { 'id': song.id, 'type': 'song', 'user': song.user } only %}
                            <span class="nbVotes">{{ song.nbVotes }}</span>
                        </td>
                        <td>
                            {% if song.youtubeId %}
                                <a href="https://www.youtube.com/embed/{{ song.youtubeId }}?autoplay=1" data-target="#modal" data-toggle="modal">
                                    <i class="fa fa-youtube-play fa-lg"></i>
                                </a>
                            {% endif %}
                            {% if song.spotifyId %}
                                <a href="https://embed.spotify.com/?uri=spotify:track:{{ song.spotifyId }}" data-target="#modal" data-toggle="modal">
                                    <i class="fa fa-spotify fa-lg"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>