<div class="panel panel-default">
    <div class="panel-heading">{{ title }}</div>
    <div class="panel-body">
        <div class="panel-group">
            <table class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Cover</th>
                        <th scope="col">Album</th>
                        <th scope="col">Mp3</th>
                        <th scope="col">Album's styles</th>
                        <th scope="col">By</th>
                        <th scope="col">Votes</th>
                        <th scope="col">Listen</th>
                        <th scope="col">Validated</th>
                    </tr>
                </thead>
                <tbody>
                {% for song in songs %}
                    <tr>
                        <td>{{ song.title }}</td>
                        <td>{{ song.artist.name }}</td>
                        <td> {# cover #}
                            <table>
                                <tr>
                                    <td class="p-0">
                                        <img src="{{ song.release.hasCover ? '/' ~ song.release.coverPath : '' }}"
                                             class="cover_{{ song.release.id }}"
                                             width="50" />
                                    </td>
                                    <td>
                                        <label for="coverInputFile_{{ song.id }}"
                                               class="float-right"><i class="fa fa-upload"></i>
                                        </label>
                                        <input id="coverInputFile_{{ song.id }}" name="cover" type="file"
                                               data-id="{{ song.release.id }}"
                                               class="coverInputFile hidden" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>{{ song.release.title }}</td>
                        <td> {# Mp3 #}
                            <i class="fa fa-volume-off {{ song.hasMp3 ? 'green' : 'red' }}"></i>
                            <label for="mp3InputFile_{{ song.id }}"
                                   class="float-right"><i class="fa fa-upload"></i>
                            </label>
                            <input id="mp3InputFile_{{ song.id }}" name="mp3" type="file"
                                   data-id="{{ song.id }}"
                                   class="mp3InputFile hidden" />
                        </td>
                        <td>
                            {%- for style in song.release.styles -%}
                                {{ style.name }}{{ (loop.last) ? '' : ' / ' }}
                            {% endfor %}
                            {#
                            <input
                                type="text"
                                class="form-control tags-styles"
                                data-role="tagsinput"
                                data-release-id="{{ song.release.id }}"
                                data-release-title="{{ song.release.title }}"
                                data-styles='[
                                {%- for style in song.release.styles -%}
                                    {"id" : {{ style.id }}, "name": "{{ style.name }}"}{{ (loop.last) ? '' : ',' }}
                                {%- endfor -%}
                            ]' />
                            #}
                        </td>
                        <td>{% include 'parts/avatar.html.twig' with { 'user': song.user } only %}</td>
                        <td>
                            {% include 'parts/vote.html.twig' with { 'id': song.id, 'type': 'song', 'user': song.user } only %}
                            <span class="nbVotes">{{ song.nbVotes }}</span>
                        </td>
                        <td>
                            <div class="w-125 form-inline">
                                <input type="text" value="{{ song.youtubeId }}" data-song-id="{{ song.id }}" class="youtube-id w-100 form-control input-sm" placeholder="Youtube id">
                                {% if song.youtubeId %}
                                    <a href="https://www.youtube.com/embed/{{ song.youtubeId }}?autoplay=1" data-target="#modal" data-toggle="modal">
                                        <i class="fa fa-youtube-play fa-lg"></i>
                                    </a>
                                {% else %}
                                    <i class="fa fa-youtube-play fa-lg fa-off"></i>
                                {% endif %}
                            </div>
                            <div class="w-125 form-inline">
                            <input type="text" value="{{ song.spotifyId }}" data-song-id="{{ song.id }}" class="spotify-id w-100 form-control input-sm" placeholder="Spotify id">
                                {% if song.spotifyId %}
                                    <a href="https://embed.spotify.com/?uri=spotify:track:{{ song.spotifyId }}" data-target="#modal" data-toggle="modal">
                                        <i class="fa fa-spotify fa-lg"></i>
                                    </a>
                                {% else %}
                                    <i class="fa fa-spotify fa-lg fa-off"></i>
                                {% endif %}
                            </div>
                        </td>
                        <td class="v-a-middle">
                            <label class="switch">
                                <input type="checkbox" data-id="{{ song.id }}" name="validated" {{ song.validated ? 'checked="checked"' : ''}} >
                                <span class="slider"></span>
                            </label>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>