<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Artist</th>
            <th scope="col">Album</th>
            <th scope="col">Styles</th>
            <th scope="col">By</th>
            <th scope="col">Votes</th>
            <th scope="col">Listen</th>
        </tr>
    </thead>
    <tbody>
    {% for song in songs %}
        <tr>
            <td>{{ song.title }}</td>
            <td>{{ song.artist.name }}</td>
            <td>{{ song.release.title }}</td>
            <td>
                {% for style in song.release.styles %}
                    {{ style.name }} {{ (loop.last) ? '' : ' / ' }}
                {% endfor %}
            </td>
            <td>{% include 'parts/avatar.html.twig' with { 'user': song.user } only %}</td>
            <td>
                {% include 'parts/vote.html.twig' with { 'id': song.id, 'type': 'song', 'user': song.user } only %}
                <span class="nbVotes">{{ song.nbVotes }}</span>
            </td>
            <td>
                {% if song.youtubeId %}
                    <a href="https://www.youtube.com/embed/{{ song.youtubeId }}?autoplay=1" data-target="#modal" data-toggle="modal">
                        <i class="fa fa-youtube-play fa-lg"></i>
                    </a>
                {% endif %}
                {% if song.spotifyId %}
                    <a href="https://embed.spotify.com/?uri=spotify:track:{{ song.spotifyId }}" data-target="#modal" data-toggle="modal">
                        <i class="fa fa-spotify fa-lg"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>